<h1>Study less &amp; Learn more</h1>
<p>Want to Learn Faster? Memofire makes it easy to capture what you want to remember, and learn it fast using research based technology.</p>
<p>To request a beta invitation, send us an email.</p>

<%= render 'form' %>
